################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RentOffice.sln
.vs
.vs/
.vscode/
/obj
/bin
appsettings.Development.json
appsettings.json
RentOffice.csproj
RentOffice.csproj.user
RentOffice.http
/Properties
appsettings.json
appsettings.Development.json

echo "appsettings.json" >> .gitignore
echo "bin/" >> .gitignore
git rm --cached appsettings.json
git rm --cached -r bin/
git add .gitignore
git commit -m "Ignore appsettings.json and bin directory"