################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RentOffice.sln
.vs
.vs/
.vscode/
/obj
bin
appsettings.Development.json
appsettings.json
RentOffice.csproj
RentOffice.csproj.user
RentOffice.http
/Properties